In [1]:
import nltk

In [2]:
file = open('SRS.txt',encoding='utf-8')

In [3]:
data=file.read()

In [16]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [90]:
stop_words = stopwords.words('english')
stop_words.append('.')
stop_words.append('•')
stop_words.append('’')

In [107]:
sentences = sent_tokenize(data)
lemma = WordNetLemmatizer()
noun_sentences = list()
for sentence in sentences:
    
    tokens = word_tokenize(sentence)
    tokens= [lemma.lemmatize(token.lower()) for token in tokens if token.lower() not in stop_words if pos_tag([token.lower()])[0][1] == 'NN']
    noun_sentence = ' '.join(tokens)
    noun_sentences.append(noun_sentence)

len(noun_sentences)

56

In [128]:
# run tfidf on words for each sentence
cv=TfidfVectorizer()
x=cv.fit_transform(noun_sentences).toarray()

In [155]:
vocab = list(cv.vocabulary_.keys())
values = cv.idf_.tolist()

In [147]:
import pandas as pd
df = pd.DataFrame({'vocab':vocab, 'values':values}, columns = ['vocab', 'values'])

In [153]:
df_sorted = df.sort_values(by=['values'], ascending=False)

In [154]:
df_sorted[0:50]

            vocab    values
0         section  4.349904
64            ask  4.349904
75   cancellation  4.349904
71       retrieve  4.349904
70         create  4.349904
68        perform  4.349904
66           show  4.349904
65           help  4.349904
62     restaurant  4.349904
35          place  4.349904
61        service  4.349904
54         select  4.349904
53         scroll  4.349904
48       moreover  4.349904
44         modify  4.349904
43         change  4.349904
78       interact  4.349904
79          store  4.349904
81          begin  4.349904
82       whenever  4.349904
83      specialty  4.349904
85        present  4.349904
86        prepare  4.349904
87           name  4.349904
88        address  4.349904
89          input  4.349904
90            pay  4.349904
95            tab  4.349904
97         server  4.349904
98    appropriate  4.349904
99           area  4.349904
104    assumption  4.349904
105      hardware  4.349904
39        kitchen  4.349904
109         state  4.349904
34          price  4.349904
8            user  4.349904
20           food  4.349904
21          order  4.349904
22       customer  4.349904
23        manager  4.349904
17       database  4.349904
16       firebase  4.349904
26          admin  4.349904
27            see  4.349904
14       software  4.349904
12        process  4.349904
11        attempt  4.349904
10            app  4.349904
29         status  4.349904